.hidden {
  display: none;
}

/* #region base styles */

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}

body {
  background-color: #ffffff;
  font-family: var(--font-primary);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}

a {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  text-decoration: none;
  font-style: normal;
  color: #4d5ae5;
}

.link:hover {
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* #endregion base styles */

/* #region icons */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.socials-icon {
  fill: #f4f4fd;
}

.social-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon:hover,
.social-link-icon:focus {
  background-color: #404bbf;
}

/* #endregion icons */

/* #region container */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion container */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.contact-information {
  display: none;
}

.logo-header {
  padding: 16px 0;
  display: block;
}

.logo-part {
  color: #2e2f42;
}

.mobile-menu-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button,
  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }

  .navigation-links {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-links:hover {
    color: #404bbf;
  }

  .navigation-links.current {
    position: relative;
    color: #404bbf;
  }

  .navigation-links.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;

    background-color: #404bbf;
  }

  .contact-information {
    font-style: normal;
    display: block;
  }

  .contact-info-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;

    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .contact-information {
    font-style: normal;
    margin-left: auto;
  }

  .contact-info-header {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion header */

/* #region mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.icon-markno {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover .icon-markno,
.mobile-menu-close:focus .icon-markno {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-links {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-links:hover,
.mobile-menu-nav-links:focus {
  color: #404bbf;
}

.mobile-menu-contact {
  margin-bottom: 48px;
}

.mobile-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contact-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contact-info:hover,
.mobile-menu-contact-info:focus {
  color: #404bbf;
}

.list-socials-mobile {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.mobile-menu-socials {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-socials:hover,
.mobile-menu-socials:focus {
  background-color: #404bbf;
}

.mobile-menu-icon-bg {
  width: 40px;
  height: 40px;
}

/* #endregion mobile menu */

/* #region main banner */

.effective-solution {
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .effective-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

.title-banner {
  max-width: 216px;

  font-weight: 700;
  font-size: 36px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;

  color: #ffffff;

  margin: 0 auto;
  margin-bottom: 72px;
}

.order-service-button {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;

  display: block;

  border: none;
  border-radius: 4px;

  min-width: 169px;
  height: 56px;

  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .effective-solution {
    padding: 112px 0;
    max-width: 768px;
  }

  .title-banner {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .effective-solution {
    padding: 188px 0;
    max-width: 1440px;
  }

  .title-banner {
    max-width: 496px;
    line-height: 107%;
    margin-bottom: 48px;
  }
}

/* #endregion main banner */

/* #region values */

.section-values {
  padding: 96px 0;
}

.values-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.values-container {
  display: none;
}

.title-values {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-values {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .values-list {
    gap: 72px 24px;
  }

  .values-item {
    width: calc((100% - 24px) / 2);
  }

  .title-values {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .section-values {
    padding: 120px 0;
  }

  .values-list {
    gap: 24px;
  }

  .values-item {
    width: calc((100% - 72px) / 4);
  }

  .values-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .title-values {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .text-values {
    font-weight: 400;
  }
}

/* #endregion values */

/* #region our team */

.section-our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.title-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 72px;
}

.list-our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.item-our-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-box {
  padding: 32px 0;
}

.title-team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  text-align: center;
  margin-bottom: 8px;
}

.text-member-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;

  text-align: center;
  margin-bottom: 8px;
}

.member-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list-member-social {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .list-our-team {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .section-our-team {
    padding: 120px 0;
  }

  .list-our-team {
    gap: 24px;
  }
}

/* #endregion our team */

/* #region our portfolio */

.section-our-portfolio {
  padding: 96px 0;
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 72px;
}

.list-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-text {
  display: none;
}

.portfolio-box {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.title-project {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .list-our-portfolio {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-our-portfolio {
    padding: 120px 0;
  }

  .list-our-portfolio {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-item {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .overlay {
    position: relative;
    overflow: hidden;
  }

  .portfolio-item:hover .overlay-text {
    transform: translateY(0%);
  }

  .overlay-text {
    display: block;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* #endregion our portfolio */

/* #region footer */

.bottom {
  padding: 96px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.logo-footer .logo-part {
  color: #f4f4fd;
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.social-media-list-footer {
  display: flex;
  gap: 16px;
}

.footer-social-title {
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.list-social-media-footer .social-link-icon {
  width: 40px;
  height: 40px;
}

.list-social-media-footer .social-link-icon:hover,
.list-social-media-footer .social-link-icon:focus {
  background-color: #31d0aa;
}

.subscribe-title-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;

  text-align: center;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.subscribe-area-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;

  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  outline: transparent;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.subscribe-area-footer:focus {
  border-color: #4d5ae5;
  opacity: 1;
}

.button-footer {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer:hover,
.button-footer:focus {
  background-color: #404bbf;
}

.icon-send-footer {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .logo-footer {
    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social-title {
    text-align: left;
  }

  .subscribe-title-footer {
    text-align: left;
  }

  .form-footer {
    gap: 24px;
  }

  .subscribe-area-footer {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    padding: 0;
  }

  .promo-message {
    margin-right: 120px;
  }

  .social-media-footer {
    margin-right: 80px;
  }

  .form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subscribe-area-footer {
    width: 264px;
    opacity: 1;
  }

  .subscribe-area-footer:focus {
    border-color: #4d5ae5;
  }
}

/* #endregion footer */

/* #region modal-window */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.button-close-modal {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-modal:hover,
.button-close-modal:focus {
  background-color: #404bbf;
  border: none;
}

.icon-markno {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-modal:hover .icon-markno,
.button-close-modal:focus .icon-markno {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form {
  border-radius: 4px;
  margin: auto;
}

.main-form-label-modal {
  margin-bottom: 8px;
}

.form-label-modal {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:hover .input-icon,
.input-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: #4d5ae5;
}

.form-textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.form-textarea:hover,
.form-textarea:focus,
.form-textarea:focus-within {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.input-textarea {
  margin-bottom: 16px;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-box {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;

  fill: transparent;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox {
  display: flex;
  align-content: center;
  justify-content: center;
}

.visually-hidden:checked + .checkbox-box > .checkbox-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-policy {
  text-decoration: underline;
}

.button-form {
  display: block;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #fff;

  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-form:hover,
.buttom-form:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 0;
  }
}

/* #endregion modal-window */
